<div id="sidebar" class="span2">
  <div class="sidebar-nav sidebar-nav-fixed">
    {{# page.github }}
    <a href="https://github.com/{{user}}/{{repo}}">
      <img style="position: absolute; top: 0; left: 100px; border: 0; height: 100px; z-index: 1;" 
        alt="Fork me on GitHub" 
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" >
    </a>
    {{/ page.github }}
	  <div class="info">
	    <p id="avatar"><a href="#"><img alt="Title" src="{{ site.url }}{{ site.logo }} " /></a></p>
	    <h3><a href="/">{{ site.title }} </a></h3>
		  <p class="description">{{ site.tagline }}</p>
		</div>
		<ul id="links">
      {{# site.navigation }}
        <li><a href="{{site.url}}{{href}}">{{item}}</a></li>
      {{/ site.navigation }}
      {{# site.social }}
        {{# github }}
        <li><a href="http://github.com/{{.}}" id="Github-link">Github</a></li>
        {{/ github}}
        {{# gplus }}
        <li><a href="https://plus.google.com/u/0/{{.}}/about" id="Google-link">Google</a></li>
        {{/ gplus }}
        {{# twitter }}
        <li><a href="http://twitter.com/#!/{{.}}" id="Twitter-link">Twitter</a></li>
        {{/ twitter }}
      {{/ site.social }}
    </ul>
	</div>
</div>

