<meta charset="utf-8"/>
<title>{{ page.title }}</title>	
<meta name="author" content="{{ page.author }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700,400|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ page.url.framework }}/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="{{ page.url.highlighter }}/css/{{ page.hitheme }}.css" type="text/css" />	
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
